@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h4>@ViewBag.Title</h4>

        <p>
            This is a web application created using the Bootstrap framework
            with jQuery on the front-end, and a C# server backend running
            .NET Framework 4.7.2 and using an MSSQL database.
        </p>

        <p>
            The ADO.NET Entity Data Model is used with Entity Framework 6 for
            interacting with the database content.
        </p>

        <p>
            For development Visual Studio 2019 Community is used as the primary IDE.
        </p>
    </div>
</div>
