@{
    ViewBag.Title = "About";
    ViewBag.Name = "Jason Allen";
}

<section>
    <h4>@ViewBag.Title - @ViewBag.Name</h4>

    <p>
        Technology enthusiast with a passion for computers, programming,
        and learning. Currently focused on programming and web design,
        especially relating to web-components; this includes personal
        projects as well as contributions to open source repositories on
        GitHub, including Google projects. Experience building, fixing,
        and upgrading computers and networks, tutoring students, and
        assisting with various technologies. Interested in electric
        vehicles and systems.
    </p>
</section>
